body {
  font-family: Andale Mono, monospace;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    font-variant: small-caps;
}
.nav-img {
    border-radius: 5px;
    transition: background .3s !important;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a:hover {
    background-color: #35cce6;
}

h1 {
    color: white !important;
}

.riddle-primary-bg {
    background-color: #15acc6 !important;
    color: black;
}

.riddle-secondary-bg {
    background-color: #151515 !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #151515 !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-logo {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 35vh;
}

.home-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100vw;
    height: 35vh;
}

.quote-btn {
    background-color: #15acc6 !important;
    color: black;
    font-size: 3rem;
    font-weight: 500;
    font-variant: small-caps;
    width: 50vw;
    height: 10vh;
}